<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>PyACI MIT Query</title>
<script>
  function dnQuery() {
    var index = document.getElementById('index-input').value;
    location = '/' + index + '/dn/' + document.getElementById('dn-input').value;
    return false;
  }

  function classQuery() {
    var index = document.getElementById('index-input').value;
    location = '/' + index + '/class/' + document.getElementById('class-input').value;
    return false;
  }
</script>
<table class="query">
  <tr>
    <td class="top">
      <form id="index-selector">
        <table width="100%">
          <tbody>
            <tr>
              <td align="right">
                <select id="index-input" name="index-input">
                  {% for name in indices %}
                  {% if name == indexName %}
                  <option value="{{ name }}" selected="selected">{{ name }}</option>
                  {% else %}
                  <option value="{{ name }}">{{ name }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </td>
  </tr>

  <tr>
    <td>
      <form id="dn-query" onsubmit="return dnQuery();">
        <fieldset>
          <legend>DN Query</legend>
          <table>
            <tbody>
              <tr>
                <td><label class="primary" for="dn-input">DN</label></td>
                {% if currentDn %}
                <td><input id="dn-input" name="dn-input" type="text" size="70" value="{{ currentDn }}" autofocus onfocus="this.value = this.value;"></td>
                {% else %}
                <td><input id="dn-input" name="dn-input" type="text" size="70"></td>
                {% endif %}
                <td><input type="submit" class="submit" value="Submit"></td>
              </tr>
            </tbody>
          </table>
        </fieldset>
      </form>
    </td>
  </tr>

  <tr>
    <td class="bottom">
      <form id="class-query" onsubmit="return classQuery();">
        <fieldset>
          <legend>Class Query</legend>
          <table>
            <tbody>
              <tr>
                <td> <label class="primary" for="class-input">Class Name</label> </td>
                {% if currentClassName %}
                <td colspan="6"><input id="class-input" name="class-input" type="text" size="70" value="{{ currentClassName }}" autofocus onfocus="this.value = this.value;"></td>
                {% else %}
                <td colspan="6"><input id="class-input" name="class-input" type="text" size="70" value="{{ currentClassName }}" autofocus></td>
                {% endif %}
              </tr>
              <tr>
                <td> <label for="property-input">Property</label> </td>
                <td> <input id="property-input" name="property-input" type="text" disabled> </td>
                <td> <label for="op-input">Op</label> </td>
                <td>
                  <select id="op-input" name="op-input" disabled>
                    <option value="eq">==</option>
                    <option value="ne">!=</option>
                    <option value="lt">&lt;</option>
                    <option value="le">&lt;=</option>
                    <option value="gt">&gt;</option>
                    <option value="ge">&gt;=</option>
                    <option value="contains">contains</option>
                  </select>
                </td>
                <td><label for="value-input">Value</label></td>
                <td><input id="value-input" name="value-input" type="text" disabled></td>
                <td><input type="submit" value="Submit"></td>
              </tr>
            </tbody>
          </table>
        </fieldset>
      </form>
    </td>
  </tr>
</table>

<table>
  <thead>
    <tr>
      <td><p class="counter">Total objects: {{ mos|length }}</p></td>
    </tr>
  </thead>
  <tfoot>
  </tfoot>
  <tbody>
  {% for mo in mos %}
  {% set dn = mo.Dn %}
    <tr>
      <td>
        <table class="mo">
          <thead>
            <tr>
              <th colspan="2">
                <a href="/{{ indexName }}/class/{{ mo.ClassName }}">{{ mo.ClassName }}</a><br/>
                <a href="/{{ indexName }}/dn/{{ dn }}">{{ dn }}</a> <a class="symbol" href="/{{ indexName }}/dn/{{ dn|parentDn }}">▲</a><a class="symbol" href="/{{ indexName }}/dn/{{ dn }}?rsp-subtree=children">▼</a>
              </th>
            </tr>
          </thead>
          <tbody>
          {% for name in mo.NonEmptyPropertyNames %}
          {% set value = mo.__getattr__(name) %}
          {% if value == None and name == 'dn' %}
          {% set value = mo.Dn %}
          {% endif %}
            <tr class="{{ loop.cycle('odd', 'even') }}">
              <td class="key"> {{ name }} </td>
              {% if value is Dn %}
              <td> <a href="/{{ indexName }}/dn/{{ value }}">{{ value }}</a> <a class="symbol" href="/{{ indexName }}/dn/{{ value|parentDn }}">▲</a><a class="symbol" href="/{{ indexName }}/dn/{{ value }}?rsp-subtree=children">▼</a></td>
              {% else %}
              <td> {{ value }} </td>
              {% endif %}
            </tr>
          {% endfor %}
        </table>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
